# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [10]:
# Your code here:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [16]:
# Your code here:
Legacy_true = (pokemon[pokemon['Legendary']==True])
Legacy_false = (pokemon[pokemon['Legendary']==False])
#len(pokemon['Legendary'])
print("true:", Legacy_true['Legendary'].count())
print("false:",Legacy_false['Legendary'].count())

true: 65
false: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [26]:
# Your code here:
Legacy_true["Total"].describe()[1:3]
#np.mean(Legacy_true["Total"])
#np.std(Legacy_true["Total"])

mean    637.384615
std      60.937389
Name: Total, dtype: float64

In [27]:
Legacy_false["Total"].describe()[1:3]

mean    417.213605
std     106.760417
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [30]:
# Your code here:
from scipy.stats import ttest_ind 
ttest_ind(Legacy_false["Total"], Legacy_true["Total"], equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#H0: Î¼ == Î¼0 
#H1: Î¼ != Î¼0 
'''
the p value is smaller than Î± = 0.05
Se we can state that the H0 is not true, 
wich means that is not true that Legacy_false or Legacy_true 
has not not an influnce on the mean of the total
In other words, the that Legacy_false or Legacy_true has an influence on the mean of the total. 
'''

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [49]:
# Your code here:
#pokemon.pivot_table(index=['Type 1'])#, columns = ['Type 2']) 
#a pivit table is to havy gear for this small question 
type1 = pokemon.groupby([pokemon['Type 1']])['Type 1'].count()

type1

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [70]:
# Your code here:
Type_1_water = (pokemon[pokemon['Type 1']== 'Water'])
Type_1_no_water = (pokemon[pokemon['Type 1']!='Water'])
Type_1_no_water["Total"].describe()[1:3]

mean    435.859012
std     121.091682
Name: Total, dtype: float64

In [71]:
Type_1_water["Total"].describe()[1:3]

mean    430.455357
std     113.188266
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [72]:
# Your code here:
ttest_ind( Type_1_no_water["Total"], Type_1_water["Total"], equal_var=True)

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
#H0: Î¼ == Î¼0  
#H1: Î¼ != Î¼0 
'''
the p bigger  than Î± = 0.05
Se we can state that the H0 is true, 
wich means that is true that Type_1_water or Type_1_no_water 
has not an influnce on the mean of the total. 
'''

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [78]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [81]:
pokemon["Attack"].describe()[1:3]

mean    79.001250
std     32.457366
Name: Attack, dtype: float64

In [82]:
pokemon["Defense"].describe()[1:3]

mean    73.842500
std     31.183501
Name: Defense, dtype: float64

Describe the results of the test in the cell below.

In [12]:
#H0: Î¼ == Î¼0 
#H1: Î¼ =! Î¼0
'''
the p value is smaller than Î± = 0.05
Se we can state that the H0 is not true, 
wich means that is not true that devence or attac
is equal 
In other words, the devence score is different from the attac score. 
'''

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [83]:
# Your code here:
pokemon["Sp. Atk"].describe()[1:3]

mean    72.820000
std     32.722294
Name: Sp. Atk, dtype: float64

In [84]:
pokemon["Sp. Def"].describe()[1:3]

mean    71.902500
std     27.828916
Name: Sp. Def, dtype: float64

In [85]:
ttest_rel(pokemon["Sp. Def"], pokemon["Sp. Atk"])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#H0: Î¼ == Î¼0 
#H1: Î¼ =! Î¼0
'''
the p value is bigger than Î± = 0.05
Se we can state that the H0 is true, 
which means that it is true that the mean (the distribution of the data sets as well?)
Sp. Def and Sp. Atk is equal. 
'''

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [88]:
# Your code here:
# H0: Î¼ - Î¼0 == 0 
# H1: Î¼ - Î¼0 =! 0 

from scipy.stats import ttest_1samp
ttest_1samp(pokemon.Attack - pokemon.Defense, 0)
# and 0 beacuse you wantto check if the diffrence is 0 
#  Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)
# the outcome is exactly the same
# which is loggic beacuse the data sets are exactly the same and the 
# hypothese is the same, you only calculate it on a different way 
# H0: Î¼ - Î¼0 == 0 is the same as H0: Î¼ == Î¼0

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: